[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
jupyter = "*"
tornado = "*"
ipykernel = "*"
requests = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.6"
